@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --grey: #999;
  --light-grey: #eee;
  --dark-grey: #333;
  --blue: #4c8bf5;
  --white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-size: 4.8rem;
  line-height: 1.4;
  font-weight: 400;
  margin-block-end: 3.2rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 400;
  margin-block-end: 1.6rem;
}

.container {
  max-width: 120rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.form {
  display: flex;
  gap: 1.2rem;
  margin-block-end: 3.2rem;
}

.form label {
  flex-grow: 1;
}

.input {
  background-color: var(--light-grey);
  width: 100%;
  font-size: 1.6rem;
}

.send {
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  background-color: var(--blue);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
  transition: padding 0.15s linear;
}

.send:disabled {
  background-color: var(--light-grey);
  color: var(--grey);
  cursor: not-allowed;
}

.send:before {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: 0 4px 12px 2px rgba(8, 14, 24, 0.25);
  opacity: 0;
  transition: 0.2s ease-out;
  border-radius: inherit;
}

.send:hover:before {
  opacity: 1;
}

.send.spinning {
  padding-right: 4.8rem;
}

.send:disabled:hover:before {
  opacity: 0;
}

.send.spinning:after {
  content: '';
  height: 2rem;
  width: 2rem;
  border: 3px solid var(--grey);
  position: absolute;
  right: 2rem;
  border-radius: 50%;
  border-top: 3px solid var(--blue);
  animation: spinner 0.5s ease-in-out infinite;
}

.input,
.send {
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
}

.short-id:link {
  font-size: 1.6rem;
}

.skeleton {
  display: block;
  height: 20px;
  width: 100%;
  background-color: var(--grey);
  border-radius: 2px;
  animation: slider 1.5s infinite ease-in-out;
}

@keyframes spinner {
  from {
    transform: translateY(-2px) rotate(0deg);
  }
  to {
    transform: translateY(-2px) rotate(359deg);
  }
}

@keyframes slider {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 10%;
  }
}
